* {
    font-weight: normal;
    font-family: Arial, sans-serif;
    font-size: 1em;
    transition: background-color 0.3s ease, color 0.3s ease;
}
body {
    text-align: center;
}
h1 {
    font-size: 2.5em;
    margin-top: 80px;
    margin-bottom: 15px;
}
.subtitle {
    margin-bottom: 40px;
}
.row {
    display: flex;
    justify-content: center;
    align-items: center;
}
.key, .value {
    width: 50%;
    padding: 7px 14px;
}
.key {
    text-align: right;

}
.value {
    text-align: left;
}
button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin: 15px;
    width: 100px;
    transition: background-color 0.3s ease, color 0.3s ease;
}
button:hover {
    background-color: #0056b3;
}
button.danger{
    background-color: #dc3545;
    color: white;
}
button.danger:hover {
    background-color: #a71d2a;
    color: #f8d7da;
}
input {
    padding: 5px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    text-align: left;
}
input[type="number"] {
    width: 70px;
}
input:disabled {
    background-color: #e3ebf5;
    border-color: #e3ebf5;
}
